<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <!-- <button mat-raised-button color="primary" class="add-contact" routerLink="['/admin/add-blog']">글쓰기</button> -->

        <mat-card class="card">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <div class="card-title">
                    <div>대시보드</div>
                    <button mat-raised-button color="primary" class="add-contact"
                        [routerLink]="['/admin/add-blog']">글쓰기</button>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="container">

                    <!--검색창-->
                    <div class="filter_form">
                        <div class="filter_group">
                            <!--fxLayout fxLayoutAlign="center center"-->

                            <mat-form-field appearance="outline" class='search-bar full-width'>
                                <mat-label>검색창</mat-label>
                                <input matInput type="text" (keyup)="doFilter($event.target.value)"
                                    placeholder="검색어를 입력하세요.">
                            </mat-form-field>


                            <!-- <mat-form-field fxFlex="80%">
                                <input matInput type="text" (keyup)="doFilter($event.target.value)"
                                    placeholder="Filter">
                            </mat-form-field> -->
                        </div>

                        <!--datepicker-->
                        <div class="filter_group">
                            <div class="datepicker">
                                <mat-form-field appearance="outline" class='my-form-field search-bar'>
                                    <input matInput [matDatepicker]="dp1"
                                        (dateInput)="addEvent($event.target.value, $event)" placeholder="날짜 선택">
                                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>

                                    <mat-datepicker #dp1></mat-datepicker>

                                </mat-form-field>
                                <div class="button-div">
                                    <button mat-stroked-button class="apply-button" color="primary" (click)="dateApply()">적용</button>

                                </div>

                            </div>

                            <!-- <button mat-stroked-button color="primary">적용</button> -->
                        </div>


                    </div>







                    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">

                        <!-- index Column -->
                        <ng-container matColumnDef="no">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element; let i = index; ">{{i+1}}</td>
                        </ng-container>
                        <!-- created_at Column -->
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> 날짜 </th>
                            <td mat-cell *matCellDef="let element"> {{element?.created_at | date:'y년 M월 d일'}} </td>
                        </ng-container>
                        <!-- title Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> 제목 </th>
                            <td mat-cell *matCellDef="let element" [routerLink]="['/blog', element.id]">
                                {{element?.title}} </td>
                        </ng-container>

                        <!-- content Column -->
                        <!-- <ng-container matColumnDef="content">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> 내용 </th>
                            <td mat-cell *matCellDef="let element">{{element?.content}}
                            </td>
                        </ng-container> -->


                        <!-- user Column -->
                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef> 글쓴이 </th>
                            <td mat-cell *matCellDef="let element"> {{element?.author.name}} </td>
                        </ng-container>

                        <!-- details Column -->
                        <ng-container matColumnDef="viewCount">
                            <th mat-header-cell *matHeaderCellDef> 조회수 </th>
                            <td mat-cell *matCellDef="let element">
                                {{element?.view_count}}
                                <!-- <button mat-icon-button color="primary" [routerLink]="['/blog', element.id]">
                                    <mat-icon class="mat-18">reorder</mat-icon>
                                </button> -->
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <!-- <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
              </mat-paginator> -->
                    <mat-paginator [pageSize]="6" [pageSizeOptions]="[2,4,6,10,20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>