.answer_card {
    margin-top:1.5rem;
}
.action-list {
    
}
.content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(210, 206, 206); */
    margin: .4rem 0;
    padding: .4rem;
}
.answer-title {
    font-weight: 600;
    color:rgb(136, 131, 131);
    padding: .4rem 0;
    font-size: 1rem;
}
.line {
    padding:0 .2rem;
}
.row-1 {
    padding: .1rem 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #bbb;
    color:rgb(136, 131, 131);
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
}
.row-2 {
    padding: .8rem 0 1rem 0;
    border-bottom: 1px dashed #bbb;
}
.row-3 {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .5rem;
}
.row-3 button {
    margin: 0 .2rem;
}
.row-1-1 {
    display: flex;
    align-items: center;
}
.row-3-1 {
    font-weight: 500;
}
.img-content {
    width: 100%;
    max-width: 23rem;
    margin-top:1rem;
}
.preview-image {
    width: 100%;
    max-width: 23rem;
}
