/* .update-blog-container{
    width:100%;
    height:100%;
    display: grid;
    grid-template-areas: "main-form additional-form";
    grid-template-columns: minmax(400px,0.7fr) 0.3fr;
}

.update-blog-main-form{
    grid-area:main-form;
    display: flex;
    flex-direction: column;
    padding:30px 20px;
}
.update-blog-input-title{
    width:100%;
    height:auto;
}

.update-blog-input-title mat-form-field{
    width:100%;
    font-size:1.5em;
}



.update-blog-additional-form{
    grid-area:additional-form;
    padding:10px 20px;
    background-color: #f5f5f5; 
}

.update-blog-additional-feature-image h3, .update-blog-additional-tags h3{
    font-size:1.5em;
    font-weight:500;
}

.update-blog-additional-feature-image button{
    font-weight:lighter;
}

.feature-image{
    width:100%;
    max-width:100%;
    height:100%;
    max-height:300px;
    margin-top:5px;
    margin-bottom: 5px;
}

.update-blog-additional-actions{
    margin-top:10px;
}


.chip-list{
    width:100%;
    margin-bottom: 10px;
}

.update-blog-additional-actions button{
    margin-left:10px;
}



#update-action{
    background-color: #2979ff;
    color: #f5f5f5;
}

.progress-spinner{
    position: absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    transform: translate(-50%,-50%);
    z-index:101;
    background:transparent;
}       



@media screen and (max-width: 768px) { 

    .update-blog-container {
        display:block;
    }

    .update-blog-main-form {
        
        float:none;
    }

} */


/* 페이지 전체 요소에 적용. 박스 사이즈를 테두리를 포함한 크기로 지정 */
* {
    box-sizing: border-box;
}

/* 박스 스타일 지정 */
.wrapper {
    justify-content: center;

}
/* 폼 영역 스타일 지정 */
.mat-form-field {
    width: 100%;
}

.file_container {
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

}
.visible {
    display: block;
}
#fileDropRef {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.container {
    font-size: 1rem;

}
.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-48 {
    font-size: 3.6rem;
}

.color-gray {
    color: #979797;
}

.example-viewport {
    height: 200px;
    width: 20%;
    border: 1px solid rgb(150, 147, 147);
    margin: 0 1rem;
}

.example-item {
    height: 50px;
    background: chocolate;
}

.category_selector {
    width: 80%;
}

.list {

}
.list-item {
    background-color: indianred;



}
.item_class {
    background: chocolate;
}
.group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.update-blog-additional-categories {
    margin: 2rem 0;
}
.update-blog-additional-tags {
    padding: 2rem 0;

}

.click:hover {
    background: #eee;
    outline: none;
}

.click:focus {
    background: #eee;
    outline: none;
}

