<div class="mat-search-bar">
    <mat-form-field appearance="outline" class="mat-select-box">
      <mat-label>카테고리</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="mat-input-box">
      <mat-label>검색어를 입력하세요</mat-label>
      <input matInput [(ngModel)]="search_" />
  

      <button *ngIf="search_" matSuffix mat-icon-button (click)="searchFunc()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  