<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
  
    <mat-card flex-gt-sm *ngIf="! wellSent">
      <mat-card-title>이메일 폼</mat-card-title>
      <mat-form-field class="full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let receiver of receivers" [selectable]="selectable" [removable]="removable"
            (removed)="remove(receiver)">
            {{receiver}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="받는이" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" [(ngModel)]="from" placeholder="보내는이">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" [(ngModel)]="title" placeholder="제목">
      </mat-form-field>

      
          <!-- 파일 첨부 -->
          <div class="file-upload-container" appDnd (fileDropped)="onFileDropped($event)">
            <div *ngIf="!myFiles.length" class="file-upload-empty">
              <mat-icon>upload_file</mat-icon>
              <p>여기에 파일을 드래그하거나 클릭하여 업로드하세요</p>
              <label for="fileInput" class="file-upload-label">
                파일 선택
                <input type="file" id="fileInput" multiple (change)="fileBrowseHandler($event.target.files)" hidden />
              </label>
            </div>
    
            <div *ngIf="myFiles.length" class="file-list">
              <div class="file-list-header">
                <span>첨부파일 ({{ myFiles.length }}개)</span>
                <button mat-stroked-button color="warn" (click)="remove_file_all()">모두 삭제</button>
              </div>
    
              <mat-list>
                <mat-list-item *ngFor="let file of myFiles" class="file-list-item">
                  <mat-icon mat-list-icon>attach_file</mat-icon>
                  <div class="file-info">
                    <div class="file-name">{{ file.name }}</div>
                    <div class="file-meta">{{ file.type }} • {{ file.size | number }} bytes</div>
                  </div>
                  <button mat-icon-button color="warn" (click)="remove_file(file)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>

          

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>본문</mat-label>
        <textarea [(ngModel)]="content" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"></textarea>
      </mat-form-field>

      <div mat-dialog-actions align="end">
        <button mat-raised-button id="create-action" color="primary" (click)="open_dialog('이메일을 보내시겠습니까?')">보내기</button>
      </div>

    </mat-card>

    <mat-card flex-gt-sm *ngIf="wellSent">
      <div class="mat-card-2">
        <img src="assets/email-sent.png" class="sent-pic" alt="email-sent-img">
        <h4>이메일이 전송되었습니다. </h4>
        <button mat-stroked-button routerLink='/admin/myinfo'>이메일함 확인하기</button>
      </div>
    </mat-card>


  </div>
</div>