<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
  
    <mat-card flex-gt-sm *ngIf="! wellSent">
      <mat-card-title>이메일 폼</mat-card-title>
      <mat-form-field class="full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let receiver of receivers" [selectable]="selectable" [removable]="removable"
            (removed)="remove(receiver)">
            {{receiver}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="받는이" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" [(ngModel)]="from" placeholder="보내는이">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" [(ngModel)]="title" placeholder="제목">
      </mat-form-field>

      <div class="">
        <span>파일첨부</span>

        <div class="filebox">
          <label for="ex_file">내 PC</label>
       
          <input type="file" id="ex_file" multiple (change)="fileBrowseHandler($event.target.files)">
        </div>

        <button class="down-button" mat-stroked-button (click)="enableButton()">
          <mat-icon>{{ down? 'arrow_drop_up':'arrow_drop_down'}}</mat-icon>
        </button>
      </div>
      <input type="file" #fileDropRef id="fileDropRef" multiple />

      <div mat-subheader>첨부파일 ({{myFiles.length}})개

        <button class="remove-button" mat-stroked-button [style.visibility]="myFiles[0] ? 'visible' : 'hidden'"
        (click)="remove_file_all()">모두삭제</button>
      </div>


      <div *ngIf="down" class="file_container" appDnd (fileDropped)="onFileDropped($event)">
        <div class="color-gray" *ngIf="!myFiles[0]">
          <h4>+ 마우스로 파일을 끌어오세요</h4>
        </div>

        <div class="files-list">
          <mat-list>
            <mat-list-item class="list-item" *ngFor="let file of myFiles">
              <mat-icon mat-list-icon>attach_file</mat-icon>
              <div><b>{{file.name}}</b></div>
              <div>타입: {{file.type}} </div>
              <div>사이즈: {{file.size}} </div>
              <button mat-icon-button color="warn">
                <mat-icon (click)="remove_file(file)">delete</mat-icon>
              </button>
            </mat-list-item>


          </mat-list>
        </div>


      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>본문</mat-label>
        <textarea [(ngModel)]="content" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"></textarea>
      </mat-form-field>

      <div mat-dialog-actions align="end">
        <button mat-raised-button id="create-action" color="primary" (click)="open_dialog('이메일을 보내시겠습니까?')">보내기</button>
      </div>

    </mat-card>

    <mat-card flex-gt-sm *ngIf="wellSent">
      <div class="mat-card-2">
        <img src="assets/email-sent.png" class="sent-pic" alt="email-sent-img">
        <h4>이메일이 전송되었습니다. </h4>
        <button mat-stroked-button routerLink='/admin/myinfo'>이메일함 확인하기</button>
      </div>
    </mat-card>


  </div>
</div>