<div class="main-layout-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2rem">
    <!-- 왼쪽: 메인화면 리스트 -->
    <div fxFlex="30" class="main-list-panel">
      <app-test4
        (mainList)="mainListFunc($event)"
        [clickList]="rowClickList"
        (clickListId)="clickListIdFunc($event)"
      ></app-test4>
    </div>
  
    <!-- 오른쪽: 테이블 -->
    <div fxFlex="70">
      <mat-card>
        <mat-card-title>메인화면 관리</mat-card-title>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
  
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox *ngIf="clickListId"
                  (change)="$event ? masterToggle($event) : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                ></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox *ngIf="clickListId"
                  (click)="$event.stopPropagation(); custom_click2(row)"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="isChecked(row)"
                ></mat-checkbox>
              </td>
            </ng-container>
  
            <!-- No -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>
  
            <!-- 날짜 -->
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>날짜</th>
              <td mat-cell *matCellDef="let element">{{ element?.created_at | date: 'y년 M월 d일' }}</td>
            </ng-container>
  
            <!-- 제목 -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>제목</th>
              <td mat-cell *matCellDef="let element" [routerLink]="['/blog', element.id]">{{ element?.title }}</td>
            </ng-container>
  
            <!-- 글쓴이 -->
            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef>글쓴이</th>
              <td mat-cell *matCellDef="let element">{{ element?.author.name }}</td>
            </ng-container>
  
            <!-- 조회수 -->
            <ng-container matColumnDef="viewCount">
              <th mat-header-cell *matHeaderCellDef>조회수</th>
              <td mat-cell *matCellDef="let element">{{ element?.view_count }}</td>
            </ng-container>
  
            <!-- 테이블 렌더링 -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
  
          <mat-paginator
            [pageSize]="6"
            [pageSizeOptions]="[2, 4, 6, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  