<!-- <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card flex-gt-sm="flex-gt-sm">
            <mat-card-title>카테고리 종류 설정</mat-card-title>
            <mat-card class="category_setting">
                <mat-tree
                    [dataSource]="dataSource"
                    [treeControl]="treeControl"
                    class="example-tree">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle="matTreeNodeToggle">
                        <li class="mat-tree-node">
                            <button mat-icon-button="mat-icon-button" disabled="disabled"></button>
                            {{node.name}}
                        </li>
                    </mat-tree-node>
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        <li>
                            <div class="mat-tree-node">
                                <button
                                    mat-icon-button="mat-icon-button"
                                    matTreeNodeToggle="matTreeNodeToggle"
                                    [attr.aria-label]="'Toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' :
'chevron_right'}}
                                    </mat-icon>
                                </button>
                                {{node.name}}
                            </div>
                            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet="matTreeNodeOutlet"></ng-container>
                            </ul>
                        </li>
                    </mat-nested-tree-node>
                </mat-tree>
            </mat-card>
            <mat-card class="category_value"></mat-card>
        </mat-card>
    </div>
</div> -->

<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card flex-gt-sm="flex-gt-sm">
            <mat-card-title>카테고리 종류 설정</mat-card-title>
            <!-- <mat-card class=""> -->
                <app-add-node (addedNode)="addNode($event)" [isTop]="true"></app-add-node>
                <!-- <button mat-raised-button class="top-node"(click)="nestedTreeControl.collapseAll()">모두 접기</button>
                <button mat-raised-button class="top-node"(click)="nestedTreeControl.expandAll()">모두 펼치기</button> -->
                <button mat-raised-button class="top-node" (click)="toggle()">{{isExpandAll ? '카테고리 열기' : '카테고리 닫기' }}</button>


                <div class="custom-card">
                    <mat-tree  
                        [dataSource]="nestedDataSource"
                        [treeControl]="nestedTreeControl"
                        class="example-tree mat-tree-position">
                        <!-- Without Children -->
                        <mat-tree-node *matTreeNodeDef="let node">
                            <li class="mat-tree-node">
                                <button mat-icon-button="mat-icon-button" disabled="disabled"></button>
                                <button (click)="clickSpan(node)">{{node.Name}}</button>
                                <app-delete-node (deletedNode)="deleteNode($event)" [currentNode]="node"></app-delete-node>
                                <app-edit-node (edittedNode)="editNode($event)" [currentNode]="node"></app-edit-node>
                                <app-add-node
                                    (addedNode)="addChildNode($event)"
                                    [isTop]="false"
                                    [currentNode]="node"></app-add-node>
                            </li>
                        </mat-tree-node>

                        <!-- With Children -->
                        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                            <li>
                                <div class="mat-tree-node">
                                    <button
                                        mat-icon-button="mat-icon-button"
                                        matTreeNodeToggle="matTreeNodeToggle"
                                        [attr.aria-label]="'toggle ' + node.Name">
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    <!--{{node.Name}}-->
                                    <!-- <button (click)="clickSpan(node)">{{node.Name}}</button> -->
                                    <button (click)="clickSpan(node)">{{node.Name}}</button>

                                    <app-delete-node (deletedNode)="deleteNode($event)" [currentNode]="node"></app-delete-node>
                                    <app-edit-node (edittedNode)="editNode($event)" [currentNode]="node"></app-edit-node>
                                    <app-add-node
                                        (addedNode)="addChildNode($event)"
                                        [isTop]="false"
                                        [currentNode]="node"></app-add-node>
                                </div>
                                <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                                    <ng-container matTreeNodeOutlet="matTreeNodeOutlet"></ng-container>
                                </ul>
                            </li>
                        </mat-nested-tree-node>
                    </mat-tree>
                    <div class= "example-tree-value">
                        <div>
                            카테고리명  <input type="text" value="Sydney" [(ngModel)]="categoryValue" />
                        </div>
                        <div>
                            공개설정  
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">공개</mat-radio-button>
                                <mat-radio-button value="2">비공개</mat-radio-button>
                              </mat-radio-group>
                        </div>
                        <div>
                            카테고리 설명  <input type="text" value="Sydney" [(ngModel)]="categoryDescription" />
                        </div>
                        <!--추가 수정 삭제 -->
                        <button mat-raised-button >추가</button>
                        <button mat-raised-button (click)="openDialog()">수정</button>
                        <button mat-raised-button >삭제</button>
                    </div>
                </div>


            <button mat-raised-button color="primary" (click)="open_dialog('카테고리를 저장하시겠습니까?')">저장</button>

        </mat-card>
    </div>
</div>